<ul>
	
	<input type="text" name="BurgerName" value="{{burger_name}}">
	<button class="devour-it" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#unless eaten}}Devour It!{{/unless}}
	</button>
	{{#if eaten}}
	<input type="text" id="delBurgerName" value="" disabled>
	{{/if}}
</ul>
