     <div class="container">

        <h2 style="float:left;color:antiquewhite;"><strong>Eat-DA-Burger</strong></h2>
        <hr>
        <br>
        <br>
        <div class="form-group row">
            <div class="col-xs-4">
                <label for="ex3">Enter your Burger. Then press submit button.</label>
                <input class="form-control" id="ex3" type="text">
            </div>
        </div>
        </form>
        <button type="submit" id="submit" class="btn btn-info btn-danger">Submit</button>

        <br>
    <ul>
        {{!-- burgers have not been eaten, --}}
        {{!-- so the burgers should be listed --}}
        {{#each burgers}}
            {{#unless eaten}}
                {{> burger-block eaten=true}}
            {{/unless}}
        {{/each}}        

    </ul>    

    <ul>
        {{#each burgers}}
            {{#if eaten}}
            {{> burger-block eaten=false}}
            {{/if}}
        {{/each}}
        </ul>